<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://azureiothubcloudtodeviceapi.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>False</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <PublishFramework />
    <ProjectGuid>3737d7b9-d40a-40da-8c05-d6a15cef15bc</ProjectGuid>
    <MSDeployServiceURL>azureiothubcloudtodeviceapi.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>AzureIoTHubCloudToDeviceAPI</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$AzureIoTHubCloudToDeviceAPI</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <ResourceId>/subscriptions/2b6e4dc2-6138-4ad0-9761-6ab64f5fed99/resourcegroups/Demos/providers/Microsoft.Web/sites/AzureIoTHubCloudToDeviceAPI</ResourceId>
    <ContainerResourceId>/subscriptions/2b6e4dc2-6138-4ad0-9761-6ab64f5fed99/resourcegroups/Demos/providers/Microsoft.ContainerRegistry/registries/registry20170610105403</ContainerResourceId>
    <ContainerResourceName>registry20170610105403</ContainerResourceName>
    <ResourceGroup>Demos</ResourceGroup>
    <Subscription>Validador CFDi</Subscription>
    <Subtype>ContainerRegistry</Subtype>
    <RegistryUrl>https://registry20170610105403.azurecr.io</RegistryUrl>
    <DockerPublish>true</DockerPublish>
  </PropertyGroup>
</Project>